* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.header {
  color: white;
  padding: 10px;
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  min-width: 10vw;
  padding: 5px;
  background-color: indigo;
  opacity: 0.7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 1;
}

.trybewarts-header-logo {
  width: 50px;
}

#trybewarts-header-title {
  text-align: center;
}

.trybewarts-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.trybewarts-login input {
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
}

.information-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.information-container input , select {
  padding: 20px;
  flex-basis: 35%;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;

}

.trybewarts-login input:focus {
  outline: none;
}

main {
  display: flex;
  justify-content: space-evenly;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  font-size: 20px;
  line-height: 35px;
}

hr {
  margin: 20px;
}

#trybewarts-forms-logo {
  height: 500px;
}

footer {
  color: white;
  padding: 20px;
  background-color: rgb(31, 30, 30);
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.house-container {
  display: flex;
  align-items: center;

}

h1 {
  font-size: 30px;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

.first-container {
  display: flex;
  align-items: center;
  justify-content: center;


}

#label-family {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.mid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.family-container {
  width: 40%;

}

.content-container {
  display: flex;
  width: 50%;
  flex-direction: column;

}

.final-container {
  width: 90%;
  flex-wrap: wrap;
  align-self: center;

}

.rate-us {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;

}

.final-container button , textarea {
  width: 100%;
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
}

