* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: whitesmoke;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.trybewarts-header-logo {
  max-width: 80px;
}

.main {
  display: flex;
  flex: 1;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.flex-container {
  display: flex;
}

.parte-3 {
  flex-direction: column;
}

hr {
  margin-inline: 0;
  margin-block: 20px;
  width: 549px;
  background-color: rgb(167, 174, 180);
  height: 1px;
}

#respostas-fomulario {
  width: 550px;
}

footer {
  align-items: center;
  background-color: rgb(59, 63, 74);
  display: flex;
  height: 30px;
  justify-content: center;
}

footer p {
  color: whitesmoke;
  font-size: 18px;
  font-family: Times New Roman, Times, serif;
  line-height: 18px;
}

#trybewarts-header-title {
  color: white;
}

.login {
  border-radius: 10px;
  margin: 0 5px;
  padding: 10px;
  width: 140px;
}

#email , #senha {
  height: 20px;
}

#login-btn {
  height: 40px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}
