* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  color: aliceblue;
}

.header img {
  align-self: center;
  max-width: 4em;
  padding: 0.25em;
}

.header h1 {
  align-self: center;
  margin: 0 1em;
}

.trybewarts-login {
  display: flex;
  flex-basis: 35%;
  width: 40%;
}

.trybewarts-login input {
  color: dimgray;
  width: 100%; /* https://stackoverflow.com/questions/42421361
  /input-button-elements-not-shrinking-in-a-flex-container */
  border-style: none;
  border-radius: 0.75em;
  margin: 1em 0.5em;
  padding: 0.5em;
}

.trybewarts-login button {
  background-color: rgb(78, 44, 131);
  color: aliceblue;
  width: 100%;/* https://stackoverflow.com/questions/42421361
  /input-button-elements-not-shrinking-in-a-flex-container */
  margin: 1em 0.5em;
  border: none;
  border-radius: 0.75em;
}

main {
  display: flex;
}

main form {
  display: flex;
  flex-direction: column;
}

#evaluation-form {
  width: 675px;/* Requisito 21 */
}

/* REQUISITO 19 OK */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0.5em;
  background-color: rgb(60, 64, 74);
  color: aliceblue;
  text-align: center;
  font-family: Georgia, Times New Roman, Times, serif;
  font-weight: 600;
}

/* Manter uma linha em branco no fim do arquivo por causa do lint */
