* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(239, 239, 239);
}

input {
  width: 100%; /* Reset p/ forms input */
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  color: aliceblue;
}

.header img {
  align-self: center;
  max-width: 4em;
  padding: 0.25em;
}

.header h1 {
  align-self: center;
  margin: 0 1em;
}

.trybewarts-login {
  display: flex;
  flex-basis: 35%;
  width: 40%;
}

.trybewarts-login input {
  color: dimgray;
  width: 100%; /* https://stackoverflow.com/questions/42421361
  /input-button-elements-not-shrinking-in-a-flex-container */
  border-style: none;
  border-radius: 0.75em;
  margin: 1em 0.5em;
  padding: 0.5em;
}

.trybewarts-login button , #submit-btn {
  background-color: rgb(78, 44, 131);
  color: aliceblue;
  width: 100%; /* https://stackoverflow.com/questions/42421361
  /input-button-elements-not-shrinking-in-a-flex-container */
  margin: 1em 0.5em;
  border: none;
  border-radius: 0.75em;
}

#submit-btn {
  height: 3em;
  font-weight: 900;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 3em;
}

main form {
  display: flex;
  flex-direction: column;
}

#evaluation-form {
  width: 675px; /* Requisito 21 */
}

.entrada-dupla-em-linha {
  display: flex;
}

#avaliacao-container {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#container1-10 {
  display: flex;
  flex-grow: 1;
  padding-left: 1em;
}

#container1-10 input {
  width: 1.25em;
  margin-right: 0.75em;
}

#comentario-container {
  display: flex;
  flex-direction: column;
}

.right-arms {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.right-arms img {
  display: flex;
  height: 500px;
}

hr {
  margin: 2em;
  border: 1px solid gray;
}

/* REQUISITO 19 OK */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0.5em;
  background-color: rgb(60, 64, 74);
  color: aliceblue;
  text-align: center;
  font-family: Georgia, Times New Roman, Times, serif;
  font-weight: 600;
}

/* Manter uma linha em branco no fim do arquivo por causa do lint */
