* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(239, 239, 239);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  color: aliceblue;
}

.header img {
  align-self: center;
  max-width: 4em;
  padding: 0.25em;
}

.header h1 {
  align-self: center;
  margin: 0 1em;
}

.trybewarts-login {
  display: flex;
  flex-basis: 35%;
  width: 40%;
}

.trybewarts-login input {
  color: dimgray;
  width: 100%; /* https://stackoverflow.com/questions/42421361
  /input-button-elements-not-shrinking-in-a-flex-container */
  border-style: none;
  border-radius: 0.75em;
  margin: 1em 0.5em;
  padding: 0.5em;
}

.trybewarts-login button , #submit-btn {
  background-color: rgb(78, 44, 131);
  color: aliceblue;
  width: 100%; /* https://stackoverflow.com/questions/42421361
  /input-button-elements-not-shrinking-in-a-flex-container */
  margin: 1em 0.5em;
  border: none;
  border-radius: 0.75em;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 3em;
}

main form {
  display: flex;
  flex-direction: column;
}

#titulo-formulario {
  text-align: center;
}

#evaluation-form {
  width: 675px; /* Requisito 21 */
}

.inputs-e-selects {
  width: 100%; /* Reset p/ forms input */
  height: 3em;
  border: none;
  border-radius: 3px;
  margin: 0.25em;
  padding-left: 1em;
  color: dimgray;
}

.entrada-dupla-em-linha label {
  align-self: center;
}

.entrada-dupla-em-linha {
  display: flex;
}

.familias , .content {
  display: flex;
  flex-direction: column;
}

.familias div , .content div {
  margin: 0.5em 0;
}

.content-caixa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-central {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#avaliacao-container {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#container1-10 {
  display: flex;
  flex-grow: 1;
  padding-left: 1em;
}

#container1-10 input {
  width: 1.25em;
  margin-right: 0.75em;
}

#comentario-container {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}

#textarea {
  resize: none;
  border: 1px rgb(78, 44, 131) solid;
  border-radius: 5px;
}

#counter {
  position: relative;
  align-self: end;
  bottom: 1.25em;
  left: -0.25em;
}

#submit-btn {
  height: 3.5em;
  font-weight: 900;
  margin: 1em 0;
}

.right-arms {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.right-arms img {
  display: flex;
  height: 500px;
}

hr {
  margin: 2em 0;
  border: none;
  border-top: 1px solid gray;
}

/* REQUISITO 19 OK */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0.5em;
  background-color: rgb(60, 64, 74);
  color: aliceblue;
  text-align: center;
  font-family: Georgia, Times New Roman, Times, serif;
  font-weight: 600;
}

/* Manter uma linha em branco no fim do arquivo por causa do lint */
