body {
  background-image: url(https://1.bp.blogspot.com/-vkG0CjoS0I0/YG8kU_tQHkI/AAAAAAAADMM/ZZHt3UHGMmoo4TVQ2GfTR2bMoJ20CzV6gCLcBGAsYHQ/s2048/EONb4ENU4AIipTP.jpg);
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(209, 209, 209, 0.5);
  padding: 5px 15px;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  align-items: flex-start;
}

#email , #password {
  height: 32px;
  border-radius: 0px;
  border: none;
  margin-right: 10px;
  width: 200px;
}

#login-btn {
  height: 34px;
  border-radius: 0px;
  border: none;
  width: 150px;
  background-color: rgb(209, 209, 209);
  color: white;
}

#trybewarts-header-title {
  color: white;
  font-size: 40px;
  margin: 0;
}

.trybewarts-header-logo {
  width: 60px;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 10px 100px;
  align-items: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-flow: column wrap;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: rgb(209, 209, 209);
}

#trybewarts-forms-logo {
  height: 400px;
}

/* .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#input-name , #input-lastname , #input-email , #house {
  width: 50%;
  margin: 0 3px 15px 0;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: white;
}

label {
  font-size: 18px;
}

.column {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 50%;
  margin: 10px 0 10px;
}

.family , .subject {
  display: flex;
}

#label-family {
  display: flex;
  flex-flow: column wrap;
}

.evaluation {
  display: flex;
  margin: 30px 0;
  justify-content: space-between;
}

#counter {
  color: gray;
  display: flex;
  font-size: 14px;
  align-self: flex-end;
}

:focus-visible {
  outline-style: none;
}

#textarea {
  border: solid 1px rgb(81, 0, 128);
  height: 200px;
  margin: 20px 0 0;
  width: 100%;

}

.textarea {
  align-self: start;
}

#user-inputs {
  display: flex;
  flex-flow: column wrap;
  width: 675px;
}

.form-content {
  display: none;
}

.infos-agreement {
  padding-bottom: 20px;
}

#submit-btn {
  height: 35px;
  border-radius: 8px;
  border: none;
  background-color: rgb(81, 0, 128);
  color: white;
}

footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: rgb(83, 83, 83);
  color: white;
  margin-top: 30px;
}

#typeRadio {
  display: flex;
  margin: 10px 0 ;
}

#checkbox-container{
  flex-flow: column wrap;
} */

.newClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#input-name , #input-lastname , #input-email , #house {
  width: 50%;
  margin: 0 8px 8px 0;
  height: 32px;
  border-radius: 0px;
  border: none;
  background-color: white;
}

#label-family {
  font-size: 18px;
  color: azure;
}

.family-container {
  margin: 15px 0 20px;
  font-size: 16px;
  color: azure;
}

.family {
  margin: 10px 5px;
}

#label-content{
  font-size: 18px;
  color: azure;
}

.columnTest {
  margin: 15px 0 20px;
  font-size: 16px; 
}

.subject  {
  margin: 10px 5px;
}

#label-rate {
  font-size: 18px;
  color: azure;
}

.evaluation {
  margin: 15px 0 20px;
  font-size: 16px;
  color: white;
}

.rate {
  margin: 10px 5px;
}

.text-area-container {
  display: flex;
  flex-direction: column;
  margin: 15px 0 20px;
  font-size: 16px; 
  color: azure;
}

.textarea {
  margin: 10px 0;
  width: 100%;
}

#counter {
  display: flex;
  align-self: flex-end;
  font-size: 14px;
}

.infos-agreement {
  margin: 15px 0 20px;
  font-size: 16px; 
  color: azure;
}

#submit-btn {
  width: 100%;
}

footer {
  margin: 50px 0 30px;
  font-size: 16px;
  text-align: center; 
}