:root {
  --color-green: red;
}

/** Definição de configurações globais iniciais; */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

/** Corpo da pagina; */
body {
  background-color: rgb(237, 237, 237);
}

/** Prototipos de centralização; */
.center { margin: 0 auto; }

/** Prototipos de container; */
.wrapper { width: 90%; }

/** Prototipos de exibição flexível; */
.flex { display: flex; }

.flex.space-around { justify-content: space-around; }

.flex-space-between { justify-content: space-between; }


/* Correções de tela; */

@media screen and ( max-width : 900px ) {

  /** Define uma medida menor para o titulo do header; */
  .trybewarts-header-title { font-size: 17pt;}
}

/** Cabeçalho; */
.header {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 1vh 2vw;
}

/* formulario */
.trybewarts-login {
  display: flex;
  justify-content: space-between;
  width: 30%;
  min-width: 233px;
  height: 2.4vw;
  min-height: 20px;
}

/* campos; */
.trybewarts-login input {
  width: 32%;
  min-width: 71px;
  border-radius: 5px;
  height: 100%;
  outline: none;
  padding-left: 11px;
}

/* texto de orientação; */
.trybewarts-login input::placeholder { font-weight: 800;
  color: rgb(147, 147, 147); }

/* botao */
.trybewarts-login button {
  background-color: rgb(078, 44, 131);
  width: 32%;
  height: 100%;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* titulo */
.trybewarts-header-title {
  align-self: center;
  color: white;
  letter-spacing: 4px;
}

/* icone */
.trybewarts-header-logo {
  width: 5%;
  min-width: 40px;
}

/** Conteudo principal; */
main {
  display: flex;
}

/* formulario; */
#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

/* heroi; */
#trybewarts-forms-logo {
  height: 500px;
}

/* campos: nome e sobrenome; e-mail; */
.user-names , .user-email-house {
  display: flex;
}

/* secao familia */
.family-content {
  display: flex;
  justify-content: space-between;
}

/* campos: familia; */
.container-family {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-content {
  width: 49%;
  display: flex;
  flex-direction: column;
}

.check-options {
  text-align: center;
}

.check-options label {
  background: red;
  width: calc(100% / 4 + 150px);
}

.subject:checked { background: red; }

.container-rate {
  display: flex;
}


.container-agreement {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

#label-content {
  display: flex;
}

/**
* Trybewarts HERO;
*/

.trybewarts-hero { width: 37%; }


/**
* Main FORM;
*/

.body-forms {
  margin: 14pt 0;
  max-width: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.body-forms label , .body-forms input { margin: 2px;
  width: 100%; }

.body-forms input , .body-forms .house {
  background-color: white;
  padding: 11px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}

.body-forms select {
  width: 80%;
  text-align: center;
}

.body-forms .label-house {
  vertical-align: center;
  text-align: right;

}

.body-forms input:focus {
  border: 1.5px solid rgb(078, 44, 131);
}

/*
* Sections Style;
*/

.inf-house , .inf-family {
  padding: 11px 7px 27px;
  border-bottom: 1px solid rgb(127, 127, 127);
  width: 100%;
}

